@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.text-justify {
    text-align: justify;
}

#linkedin-button {
    margin: 100px;
}

#profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
}
